<section id="contact">
    <form action="" method="POST">
        <div><label>Name: <input type="text" id="fname" name="fname"></label></div>
        <div><label>Email: <input type="email" id="femail" name="femail"></label></div>
        <div><label>Message: <textarea maxlength="250" id="fmessage" name="fmessage"></textarea></label></div>
    </form>
</section>