<section id="about">
    <div id="image&socials">
        <div id="image">

        </div>
        <div id="socials">

        </div>
    </div>
    <div id="my-description">
        <div id="bio">
            <p></p>
        </div>
        <div id="interests&education">
            <div id="interests">

            </div>
            <div id="education">
                
            </div>
        </div>
    </div>
</section>